@use "../base/colors";

.beer-component {
  width: 100%;
  box-sizing: border-box;
  .content {
    padding: 0;
    width: 100%;
    background-color: colors.$secondary;
    width: -webkit-fill-available;
  }
  p {
    margin: 0 1.5rem 1rem 1.5rem;
  }

  .collapsible {
    &:hover {
      background-color: colors.$secondary;
    }
  }

  .collapsible {
    height: 5rem;
    width: -webkit-fill-available;
  }
}

@media only screen and (max-width: 800px) {
  .beer-component {
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .beer-component {
    padding-right: 0rem;
  }
}
