#thankYou {
  margin: 0;
  overflow: hidden;
}

.gradientContainer {
  height: 100vh;
}

.thank-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 15rem;

  img {
    width: 10rem;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .thank-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .thank-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
