#thankYou {
  margin: 0;
  overflow: hidden;
}

.gradientContainer {
  height: 100vh;
}

.thank-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 15rem;

  img {
    width: 10rem;
  }

  p {
    text-align: center;
  }
}
